* {
    box-sizing: border-box;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    font-family: robotomedium, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pfp {
    width: 30px;
    height: auto;
    border-radius: 100%;
}

.icon {
    width: 25px;
    height: 25px;
}

.white {
    filter: invert(97%) sepia(7%) saturate(319%) hue-rotate(86deg) brightness(124%) contrast(100%);
}

.black {
    filter: invert(39%) sepia(2%) saturate(16%) hue-rotate(317deg) brightness(100%) contrast(104%);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #d7e0e5;
    display: grid;
    grid-template: 7% 12% 37% auto / 18% 62% 20%;
}

.shadow {
    box-shadow: 0px 3px 28px 0px rgba(0, 0, 0, 0.15);
    z-index: -1;
}

#top {
    grid-area: 1 / 2 / 1 / 4;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

#top input {
    width: 40vw;
    height: 3.5vh;
    border-radius: 50px;
    border: 1px solid grey;
    padding: 0 10px;
}

#intro {
    grid-area: 2 / 2 / 2 / 4;
    background-color: white;

    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: space-between;
    margin-bottom: 20px;
}

#greeting,
.account {
    display: grid;
    grid-template: 1fr 1fr / auto auto;
    justify-content: start;
    justify-items: start;
    align-items: center;
}

#profile-greeting {
    grid-area: 1 / 1 / 3 / 2;
    width: 50px;
    height: auto;

    margin: 5px 20px;
}

.hello {
    grid-area: 1 / 2 / 2 / 3; 
    align-self: end;
}

#intro-name {
    grid-area: 2 / 2 / 3 / 3;
    align-self: flex-start;

    font-size: 1.3rem;
}

#buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5%;

    margin-right: 20px;
}

#buttons button {
    background-color: #1992d4;
    border-radius: 20px;
    border: none;
    width: 7vw;
    height: 4vh;

    color: white;
    font-size: .9rem;
}

#sidebar {
    grid-area: 1 / 1 / 5 / 1;

    padding: 5px 0 0 15px;
    background-color: #1992d4;
    color: #ffffff;

    display: grid;
    grid-template: repeat(auto, 3) / auto;
    justify-content: start;
    align-content: start;
    gap: 5%;
}

#sidebar .normal-actions,
#sidebar .about {
    display: grid;
    gap: 2%;

    font-size: 1em;
}

.center {
    display: flex;
    gap: 15px;
    align-items: center;
}

#dashboard-icon {
    width: 45px;
    height: auto;
}

#projects-area {
    grid-area: 3 / 2 / 5 / 3;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    margin: 0 10px;
}

#card-area {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
}

.card {
    background-color: #eeeeee;
    background-image: linear-gradient(to right, orange 3%, #ffffff00 3%);
    border-radius: 10px;
    padding: 20px;

    display: grid;
    grid-template-columns: 3% 97%;
    grid-template-rows: subgrid;
    grid-row: span 3;
    place-items: start;
    gap: 5px;
}

.card-top {
    grid-area: 1 / 2 / 1 / 3;
}

.card-body {
    grid-area: 2 / 2 / 2 / 3;
    color: grey;
    font-size: .8rem;
}

.card-icons {
    grid-area: 3 / 2 / 3 / 3;
    align-self: end;
    justify-self: end;
}

#announcements-area {
    grid-area: 3 / 3 / 4 / 4;
    display: flex;
    padding: 10px;
    margin-right: 10px;
    flex-direction: column;
    gap: 10px;
}

#announcements {
    background-color: #eeeeee;
    border-radius: 5%;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.news {
    padding: 5%;
    font-size: .6rem;
}

#trending-area {
    grid-area: 4 / 3 / 5 / 4;
    display: flex;
    padding: 10px;
    flex-direction: column;
    padding-top: 8%;
    gap: 10px;
}

.accounts {
    background-color: #eeeeee;
    border-radius: 5%;
    padding: 5%;
}
.account {
    padding: 5px;

}

.account > img {
    grid-area: 1 / 1 / 3 / 2;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.account > .name {
    grid-area: 1 / 2 / 2 / 3; 
    align-self: end;
    font-size: .8rem;
}

.account > .knownfor {
    grid-area: 2 / 2 / 3 / 3;
    align-self: flex-start;
    color: grey;
    font-size: .7rem;
}