* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pfp {
    width: 50px;
    height: auto;
    border-radius: 30px;
}

.icon {
    width: 25px;
    height: 25px;
}

.white {
    filter: invert(97%) sepia(7%) saturate(319%) hue-rotate(86deg) brightness(124%) contrast(100%);
}

.black {
    filter: invert(39%) sepia(2%) saturate(16%) hue-rotate(317deg) brightness(100%) contrast(104%);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #d7e0e5;
    display: grid;
    grid-template: 8% 12% 40% 40% / 18% 52% 30%;
}

.shadow {
    box-shadow: 0px 3px 28px 0px rgba(0, 0, 0, 0.25);
    z-index: -1;
}

#top {
    grid-area: 1 / 2 / 1 / 4;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

#top input {
    width: 40vw;
    height: 3.5vh;
    border-radius: 50px;
    border: 1px solid grey;
    padding: 0 10px;
}

#intro {
    grid-area: 2 / 2 / 2 / 4;
    background-color: white;

    display: grid;
    grid-template: auto / 1fr 1fr;
    justify-items: space-between;
}

#sidebar {
    grid-area: 1 / 1 / 5 / 1;

    padding: 5px 0 0 15px;
    background-color: #1992d4;
    color: #ffffff;

    display: grid;
    grid-template: repeat(auto, 3) / auto;
    justify-content: start;
    align-content: start;
    gap: 5%;
}

#sidebar .normal-actions,
#sidebar .about {
    display: grid;
    gap: 2%;

    font-size: 1em;
}

.center {
    display: flex;
    gap: 15px;
    align-items: center;
}

#dashboard-icon {
    width: 45px;
    height: auto;
}

#projects-area {
    grid-area: 3 / 2 / 5 / 3;
}

#announcements-area {
    grid-area: 3 / 3 / 4 / 4;
}

#trending-area {
    grid-area: 4 / 3 / 5 / 4;
}
